.sign-in-container {
  position: relative;
}

.sign-in-button {
  background-color: #212121;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.sign-in-form {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 16px;
  background-color: #212121;
  color: #fff;
  box-sizing: border-box;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.sign-in-container.expanded .sign-in-form {
  transform: translateY(0);
  transform: translateX(-100%);
  opacity: 1;
  width: 200px;
  visibility: visible;
}

.sign-in-form h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sign-in-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-form label {
  margin-bottom: 5px;
}

.sign-in-form input[type="email"],
.sign-in-form input[type="password"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

.sign-in-form button {
  background-color: #fff;
  color: #212121;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-form button:hover {
  background-color: #e67700;
}

.sign-in-form p {
  margin-top: 8px;
}
