.header {
  background-color: #212121;
  color: #fff;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  color: yellow;
}

.user-buttons {
  display: flex;
  gap: 10px;
  /*  */
}
