.navbar {
  background-color: #212121;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  padding: 16px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 16px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  color: #d1ff17;
}
