@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.navbar {
  background-color: #212121;
  color: #ffffff;
  font-family: "Staatliches", cursive;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  padding: 16px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 16px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  color: #fffb03;
}
