.log-in-container {
  position: relative;
}

.log-in-button {
  background-color: #212121;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.log-in-form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: #212121;
  color: #fff;
  box-sizing: border-box;
  transition: height 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.log-in-container.expanded .log-in-form {
  transform: translateY(0);
  transform: translateX(-50%);
  opacity: 1;
  width: 200px;
  visibility: visible;
}

.log-in-form label {
  display: block;
  margin-bottom: 8px;
}

.log-in-form input[type="email"],
.log-in-form input[type="password"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 8px;
}

.log-in-form button {
  background-color: black;
  color: yellow;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.log-in-form p {
  margin-top: 8px;
}
