.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-button {
  background-color: #ff8800;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.log-in-form {
  margin-top: 20px;
}

.log-in-form h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.log-in-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-form label {
  margin-bottom: 5px;
}

.log-in-form input[type="email"],
.log-in-form input[type="password"] {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
}

.log-in-form button {
  background-color: #ff8800;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.log-in-form button:hover {
  background-color: #e67700;
}
