.content {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

.list-carousel {
  display: flex;
  justify-content: space-between;
}

.list-slide {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

.coffee-carousel {
  display: flex;
  justify-content: space-between;
}

.coffee-slide {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}
