@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.main {
  display: flex;
  flex-direction: column;
}

.bg-image {
  background-image: url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: center;
}

.img-container {
  width: 100%;
  height: 100vh;
}

.img-container h2 {
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-shadow: 5px 5px #fffb03;
}

h1,
h2,
h3 {
  font-family: "Staatliches", cursive;
}

.intro {
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 1.5em;
  background-color: #000000;
}
.hp-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.test {
  position: fixed;
  right: 1rem;
  top: 10rem;
  border: dotted 5px yellow;
  background-color: black;
  width: 20rem;
  font-size: smaller;
  color: yellow;
  padding: 0.5rem;
}
.test:hover {
  color: white;
  border: dotted 5px red;
}

.test:active {
  color: white;
}
