@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #fffb03;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.user-buttons button:hover {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: black;
  color: #fffb03;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content {
  margin: 20px;
}
